
<div style="text-align:center">
  <h1>
   <font color=red> FAJAR BAGUS CAHYO</color>
  </h1>
   <img width="90px" alt="angular logo" src="assets/th.jpg">
 </div>
  <h3>
    1800016073
     </h3>
     <ul>
       <li><a>praktikum 3</a></li>
       <li><a>praktikum 4</a></li>
       <li><a>praktikum 5</a></li>
       <li><a>praktikum 6</a></li>
       <li><a>praktikum 7</a></li>
       <li><a>praktikum 9</a></li>
       <li><a>praktikum 9</a></li>
       <li><a>praktikum 10</a></li>
       <h3>
       <li><a href="" routerlink="/home">home</a></li>
        <li><a href="" routerlink=/student>student</a></li>
      </h3>
         </ul>

         <router-outlet>tampilan halaman home...</router-outlet>
     